<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GabNetStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GabNetStats.Properties.Settings>
            <setting name="BlinkDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LoadOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BandwidthVisualsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BandwidthVisualsCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BandwidthDownload" serializeAs="String">
                <value>12500000</value>
            </setting>
            <setting name="BandwidthUpload" serializeAs="String">
                <value>12500000</value>
            </setting>
            <setting name="AutoCloseBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCloseBalloonAfter" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BalloonOpacitySlider" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BalloonOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BandwidthUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BandwidthDownloadMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BandwidthUploadMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnabledInterfaceMACList" serializeAs="String">
                <value>TOSET</value>
            </setting>
            <setting name="KnownInterfaceMACList" serializeAs="String">
                <value />
            </setting>
        </GabNetStats.Properties.Settings>
    </userSettings>
</configuration>